[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
test-hello = {file = "/home/stewart/src/pipenv_editable_install_repro/test-hello", editable = true}

[dev-packages]

[requires]
python_version = "3.8"
